.buttonMore {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #0d0d0d, #1a1a1a, #262626, #333333);
    background-size: 400% 400%;
    border: 2px solid transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    animation: gradientBackground 10s ease infinite;
    margin-left: 650px
  }

.button:hover {
  background-position: 100% 0%;
  border-color: #0d0d0d;
}
